In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C:/newexcel2/global_sports_footwear_sales_2018_2026.csv")

In [3]:
df.head()

,order_id,order_date,brand,model_name,category,gender,size,color,base_price_usd,discount_percent,final_price_usd,units_sold,revenue_usd,payment_method,sales_channel,country,customer_income_level,customer_rating
0,ORD100000,2021-01-30,ASICS,Model-370,Running,Unisex,8,Black,162,15,137.70,1,137.7,Card,Retail Store,Germany,Low,4.6
1,ORD100001,2026-10-05,Reebok,Model-314,Lifestyle,Men,8,Grey,80,5,76.00,3,228.0,Card,Online,USA,Low,3.9
2,ORD100002,2023-11-12,ASICS,Model-763,Lifestyle,Men,8,Black,176,15,149.60,4,598.4,Cash,Retail Store,India,Medium,3.0
3,ORD100003,2026-08-29,Reebok,Model-905,Basketball,Women,7,White,61,15,51.85,2,103.7,Card,Retail Store,India,High,3.4
4,ORD100004,2019-11-09,Nike,Model-413,Training,Men,11,Black,80,0,80.00,4,320.0,Cash,Online,USA,Medium,3.0

In [7]:
df.isnull().sum()

order_id                 0
order_date               0
brand                    0
model_name               0
category                 0
gender                   0
size                     0
color                    0
base_price_usd           0
discount_percent         0
final_price_usd          0
units_sold               0
revenue_usd              0
payment_method           0
sales_channel            0
country                  0
customer_income_level    0
customer_rating          0
dtype: int64

In [8]:
df.shape

(30000, 18)

In [10]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.dtypes

order_id                  object
order_date                object
brand                     object
model_name                object
category                  object
gender                    object
size                       int64
color                     object
base_price_usd             int64
discount_percent           int64
final_price_usd          float64
units_sold                 int64
revenue_usd              float64
payment_method            object
sales_channel             object
country                   object
customer_income_level     object
customer_rating          float64
dtype: object

In [14]:
df = df.drop_duplicates()

In [15]:
df.dtypes

order_id                  object
order_date                object
brand                     object
model_name                object
category                  object
gender                    object
size                       int64
color                     object
base_price_usd             int64
discount_percent           int64
final_price_usd          float64
units_sold                 int64
revenue_usd              float64
payment_method            object
sales_channel             object
country                   object
customer_income_level     object
customer_rating          float64
dtype: object

In [16]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [17]:
df.dtypes

order_id                         object
order_date               datetime64[ns]
brand                            object
model_name                       object
category                         object
gender                           object
size                              int64
color                            object
base_price_usd                    int64
discount_percent                  int64
final_price_usd                 float64
units_sold                        int64
revenue_usd                     float64
payment_method                   object
sales_channel                    object
country                          object
customer_income_level            object
customer_rating                 float64
dtype: object

In [18]:
df[['base_price_usd', 'final_price_usd', 'units_sold']].describe()

       base_price_usd  final_price_usd    units_sold
count    30000.000000     30000.000000  30000.000000
mean       139.634633       121.029035      2.500200
std         46.062549        42.511586      1.121149
min         60.000000        42.000000      1.000000
25%        100.000000        85.000000      1.000000
50%        140.000000       119.200000      3.000000
75%        180.000000       153.600000      4.000000
max        219.000000       219.000000      4.000000

In [21]:
df['gender'].value_counts()
df['payment_method'].value_counts()

payment_method
Bank Transfer    7686
Wallet           7554
Card             7448
Cash             7312
Name: count, dtype: int64

In [22]:
df.to_csv("final_cleaned_sales_data.csv", index=False)